body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Times New Roman', Times, serif;
}
h3 {
  padding-left: 15 px;
}
